{erl_opts, [debug_info]}.
{deps, [
	{cowboy, {git, "https://github.com/ninenines/cowboy.git", {branch, "master"}}},
	{nitrogen_core, {git, "https://github.com/nitrogen/nitrogen_core", {branch, "master"}}},
	{nprocreg, {git, "https://github.com/nitrogen/nprocreg", {branch, "master"}}}
]}.

{post_hooks, [
	{compile, "mkdir -p ./priv/web/static"},
	{compile, "cp -R ./_build/default/lib/nitrogen_core/www/ priv/web/static/nitrogen"}
]}.

{profiles, [
	{prod, [{relx, [
	  {sys_config, "./config/sys.config"},
	  {vm_args, "./config/vm.args"},
	  {include_erts, true},
	  {dev_mode, false}
	]}]}
]}.

{relx, [
	{release, {proctor_student, {git, long}}, [
		sasl,
		proctor_student
	]},
	{mode, dev},

	{sys_config, "./config/sys.config"},
	{vm_args, "./config/vm.args"}
]}.

{shell, [
	{config, "config/sys.config"},
    {apps, [proctor_student]}
]}.
